/* структура цсс:
    селектор {
        свойства: значение;
        свойства: значение;
        свойства: значение;
    } */
    * {                         /* для обращения ко всем элементам в цсс */
        box-sizing:border-box;/* для строго задания размера 300*300 */
    }
   
   h1, h2 {
        color: red;
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        font-style: italic;
        /* text-decoration: underline; */
        text-decoration: line-through;
    }

    .text{
        font-weight: 900;
        text-transform: uppercase;
    }

   
   .chapter {
        color: blue;
   }

   .pink {
        color: pink;
    }

   #begin {
        color: orange;
        font-weight: bold;
   }
   
   .box {
        position: absolute;
        display: inline-block;
        width: 300px;
        height: 300px;
        background-color: green;
        /* padding-top:20px ;
        padding-left: 50px; */
        padding: 20px 50px 40px 60px;
        /* border-width: 3px;
        border-style: solid;
        border-color: black; */
        border: 3px solid black;
        margin: 20px;
        z-index: 3;
   }

   /* Блочные элементы */
   /* Строчный  напр ссылка  катринка*/
   /* Строчно-блочные */
   a {
    padding: 20px;
    margin: 20px;
    width: 500px;
   }
   img { /* ставим картинку по центру (по горизонтали) */
    display: block;
    width: 500px;
    margin: 0 auto;
   }
/* положене какого-либо блока относительбно другихможно поменять при помощи ПОЗИЦИОНИРОВАНИЯ:*/
nav {
    position: inherit; /* static - позиция по умолчанию; при указнии рэлатив  - элемент двигается относительно себя'; absolut -элемент выпвдвет из списка HTML, элемент двигается относительно родительского элемента; fixed - сопровождает пользователя вместе со скролингом страницы, inherit - позиционирование наследуется от родителя*/
    /* static, relative, absolut, fixed, inherit */
    /* left: 130px;отодвигаем слева наш элемент и он двигается в право */
    right: 0px;
    top: 50px;
    /* top, bottom, left, right */
}

.example {
    background-color: #aeaeae;
    /* для манипулирования меню в пределах блока экзампл деаем следующее */
    height: 700px;/* при этом меню не изменяет своего положения, т.к. код думает, что нав находится в нутри бади   и для того чтобы это исправить необходимо исправить позиционирование у родительского  элемента:*/
    position: relative;
    /* ВЫВОД position: absolute РАБОТАЕТ, ТОЛЬКО ЕСЛИ У РОДИТЕЛЬСКОГО ЭЛЕМЕНТА СТОИТ position: relative (У BODY ПО УМОЛЧАНИЮ СТОИТ position: relative)*/
}
.red {
    position: absolute;
    left: 80px;
    background-color: red;
    z-index: 4; /* при значении 4<5 red все равно будет ыпереди, т.к позиционирование  абсолют главнее статик, чтобы убрать рэд назад, нужно поставить отрицатеное значение, напр. -1 */
}
.example2 {
    position: relative;
}