div {
    color: blue;
}

.element {
    color: red;
}

.wrapper .element{ /* ЕСТЬ ПРОБЕЛ - класс элемент вложен в класс раппер, т.е. это классы разных элементов */
    color: orange;
}

.big {
    color: #000
}

.wrapper #second{
    color: yellow
}
#second.element { /* НЕТ ПРОБЕЛА - это относится  к одному элементу */
    
    color: green;
}
/* Выводы: классы более приоритетны чем тэги
а id более приоритетны чем классы;
вложенность классов более приоритетна , чем классы.
Если при обращении указано несколько классов - по приоритетности это  = вложенности классов - стиль будет братьтся от последнего указанногог в css файле
inline стили (указанные непосредственнов html файле style="color: gray") более приоритетны чем id
если у элемента несколько классов, что стиль будет браться от последнего, указанного в html  файле */
